In [18]:
%load_ext sql
%sql postgresql://appdev@data:5432/appdev
%matplotlib inline

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [20]:
import pandas as pd
import numpy as np

In [21]:
%sql DROP TABLE IF EXISTS value;
%sql DROP TABLE IF EXISTS location;
%sql DROP TABLE IF EXISTS indicator;
%sql DROP TABLE IF EXISTS subject;
%sql DROP TABLE IF EXISTS measure;
%sql DROP TABLE IF EXISTS frequency;
%sql DROP TABLE IF EXISTS time;
%sql DROP TABLE IF EXISTS flagcodes;

%sql CREATE TABLE location(id int NOT NULL PRIMARY KEY, location VARCHAR(100) unique);

%sql CREATE TABLE indicator(id int NOT NULL PRIMARY KEY, indicator VARCHAR(100) unique);

%sql CREATE TABLE subject(id int NOT NULL PRIMARY KEY, subject VARCHAR(100) unique);

%sql CREATE TABLE measure(id int NOT NULL PRIMARY KEY, measure VARCHAR(100) unique);

%sql CREATE TABLE frequency(id int NOT NULL PRIMARY KEY, frequency VARCHAR(100) unique);

%sql CREATE TABLE time(id int NOT NULL PRIMARY KEY, time VARCHAR(100) unique);

%sql CREATE TABLE flagcodes(id int NOT NULL PRIMARY KEY, flagcodes VARCHAR(100) unique);

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [22]:
%%sql
CREATE TABLE value(id int NOT NULL PRIMARY KEY,
                  value numeric,
                  locationID int references location(id),
                  indicatorID int references indicator(id),
                  subjectID int references subject(id),
                  measureID int references measure(id),
                  frequencyID int references frequency(id),
                  timeID int references time(id),
                  flagcodesID int references flagcodes(id),
                  constraint FK_Attributes unique (locationID, indicatorID, subjectID, measureID, frequencyID, timeID, flagcodesID));

Done.

[]